@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  opacity: 3;
  .ant-select-selection-item {
    @apply text-white;
  }
  .ant-tabs-tab-btn {
    @apply text-white;
  }
  .ant-select-selection-placeholder {
    @apply text-white !important;
  }
  .ant-select-arrow {
    @apply text-white !important;
  }
  .ant-select-selection-search-input {
    @apply text-white !important;
  }
}
